<div>
  <h1>Users list</h1>
  <% @users.each_with_index do |user, index| %>
  <ul>
    <li>
      <img width="200px" src=<%=user.photo %> alt=<%= user.name %> />
      <%=index + 1 %> - Name: <b><%= user.name %> </b> Total post: <b><%= user.post_counter %></b>
      <a href="/users/<%=user.id %>">View more</a>
    </li>
  </ul>
  <% end %>
</div>
