<div class="flex  w-screen items-center justify-center mx-9 px-4 py-4 sm:px-6 lg:px-8">

  <div class=" w-2/4">

    <h1 class="my-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">
      <span class="text-blue-600">
        <%= @post.title %>
      </span>
      by
      <span class="text-blue-400">
        <%= @post.user.name %>
      </span>
    </h1>
    <h4>
      Comments ( <%= @post.comments.count %> ) Likes ( <%= @post.likes.count %> )
    </h4>
    <%= render "likes/form", like: @like%>

    <div class="p-4 my-4  bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h2>Post content</h2>
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%=@post.title %></h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%=@post.text %></p>

      <div class=" bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel"
        aria-labelledby="services-tab">
        <h2 class="mb-5 text-xl font-extrabold tracking-tight text-gray-900 dark:text-white">Comments</h2>

        <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
          <% @post.comments.each do |cmt| %>

          <li class="flex space-x-2">

            <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight"> <%= cmt.text %></span>
          </li>
          <% end %>

        </ul>
      </div>

    </div>
    <%= render "comments/form", comment: @comment%>


  </div>
</div>
</div>
