<div>
  <h1> Name: <%= @user.name %> </h1>
  <h4>
    Total post: <%= @user.post_counter %>
  </h4>
  <img width="200px" src=<%=@user.photo %> alt=<%= @user.name %> />

  <h3>Bio</h3>
  <p>
    <%= @user.bio %>
  </p>
  <hr>
  <h1>Post</h1>
  <hr>
  <%@posts.each_with_index do |post, index| %>
  <div>
    <li>
      <%=index +1 %> - <%= post.title %>
      <p>
        Post Content: <%= post.text %>
        <a href="/posts/<%=post.id %>">View more</a>

      </p>

    </li>
  </div>
  <hr>
  <% end %>
  <br>
  <br>
  <a href="/users/<%=@user.id%>/posts">
    See all post from this user
  </a>
  <br>
  <br>
  <br>
  <%= link_to "See all post in db", posts_path %>
</div>
