
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <h2
      class="mt-6 text-center text-3xl font-extrabold leading-9 text-gray-700"
    >
      Forgot password?
    </h2>

        <div class="mt-6">
        <%= f.label :email, class: "block text-sm font-medium
        leading-5 text-bb-gray-700" %>
        <div class="mt-1 rounded-md shadow-sm">
          <%= f.email_field :email, autocomplete:
          "new-password", class:"transition border focus:outline-none
          focus:shadow-outline-blue block w-full appearance-none rounded-md
          border-gray-300 px-3 py-2 placeholder-gray-400 duration-150
          ease-in-out focus:border-blue-300 sm:text-sm sm:leading-5", required:"true" %>
        </div>
      </div>



      <%= f.submit "Send me reset password instructions", class: "transition border bg-blue-500
      hover:bg-blue-700 focus:outline-none group relative flex w-full
      justify-center rounded-md border-transparent px-4 py-2 my-4 text-sm
      font-medium leading-5 text-white duration-150 ease-in-out" %>





      <div class="mt-6 flex items-center justify-between">

        <div class="text-sm leading-5">
          <%= link_to "Need an account? Sign up", new_user_registration_path, class: "font-medium text-bb-gray-700 hover:text-bb-gray-900 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </div>
         <div class="text-sm leading-5">
          <%= link_to "Sign in", new_user_session_path, class: "font-medium text-bb-gray-700 hover:text-bb-gray-900 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </div>
      </div>
  </div>
</div>
<% end %>
