<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class=" flex  mt-4 justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md">
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="mt-6 text-center text-3xl font-extrabold leading-9 text-gray-700">
      Login
    </h2>
    <form class="mt-8">
      <div class="mt-6">
        <%= f.label "Email", class:"block text-sm font-medium leading-5 text-bb-gray-700" %>
        <div class="mt-1 rounded-md shadow-sm">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          placeholder:"Email", required:"true", class: "transition border focus:outline-none
          focus:shadow-outline-blue block w-full appearance-none rounded-md
          border-gray-300 px-3 py-2 placeholder-gray-400 duration-150
          ease-in-out focus:border-blue-300 sm:text-sm sm:leading-5" %>
        </div>
      </div>
      <div class="mt-6">
        <%= f.label "Password", class:"block text-sm font-medium leading-5 text-bb-gray-700" %>
        <div class="mt-1 rounded-md shadow-sm">
          <%= f.password_field :password, autocomplete: "current-password",
          placeholder:"Password", required:true, class: "transition border focus:outline-none
          focus:shadow-outline-blue block w-full appearance-none rounded-md
          border-gray-300 px-3 py-2 placeholder-gray-400 duration-150
          ease-in-out focus:border-blue-300 sm:text-sm sm:leading-5" %>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <label class="form-check-label text-muted">
            <%= f.check_box :remember_me, class: "form-checkbox h-4 w-4 text-bb-gray-700" %> Remember me
          </label>
        </div>
        <div class="text-sm leading-5">
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-bb-gray-700 hover:text-bb-gray-900 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </div>
      </div>
      <div class="mt-6">
        <%= f.submit "Sign in", class:"transition border bg-blue-500
      hover:bg-blue-700 focus:outline-none group relative flex w-full
      justify-center rounded-md border-transparent px-4 py-2 my-4 text-sm
      font-medium leading-5 text-white duration-150 ease-in-out" %>
      </div>
    </form>
    <div class="mt-6 text-center">
      <div class="text-sm leading-5">
        <%= link_to "Need an account? Sign up", new_user_registration_path, class:"font-medium text-bb-gray-700 hover:text-bb-gray-900 focus:outline-none focus:underline transition ease-in-out duration-150" %>
      </div>
    </div>
  </div>
</div>
<% end %>
