<div>
  <h1>Post list</h1>
  <% @posts.each_with_index do |post, index| %>
  <ul>
    <li>
      <%=index + 1 %> - Title: <b><%= post.title %> </b>
      <a href="/users/<%=@user.id%>/posts/<%=post.id %>">View more</a>

      <%= button_to "Delete post", user_post_path(@user, post.id), method: :delete,class: "mt-2 rounded-lg py-3 px-5 bg-red-600 font-medium" %>
    </li>
  </ul>
  <% end %>
</div>
