<div class="mx-auto md:w-2/3 w-full"><!-- Add new post -->
  <div class="post-wrapper">
    <h3>Add new post</h3>
<%= form_with model: Post, url: user_posts_path , class: 'post-form', method: :post do |form| %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-gray-900" %>
  </div>

  <div class="my-5">
    <%= form.label :text %>
    <%= form.text_area :text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-gray-900" %>
  </div>

<div class="inline">
    <%= form.submit "Submit", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
    <% end %>
  </div>
</div>