<div>
  <h1>Post details Page</h1>
  <h1>
    <%= @post.title %> by <%= @post.user.name %>
    <br>
    Comments ( <%= @post.comments.count %> )
    Likes ( <%= @post.likes.count %> )
  </h1>

  <h1>Post content</h1>
  <hr>
  <p>
    <%= @post.text %>
  </p>
  <h3>Comments</h3>
  <hr>
  <% @post.comments.includes(:user).each do |comment| %>
  <p>
    <%= comment.user.name %> : <%= comment.text %>
  </p>
  <% end %>
  <hr>


</div>
