<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="max-w-9xl mx-auto px-4 py-2 sm:px-6 lg:px-8 ">
      <div class="mx-auto max-w-9xl ">
        <main>
          <%= render 'shared/navbar' %>
          <div class="flash"><%= render 'shared/flash' %> </div>
          <%= yield %>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
